.topdiv{
    background-color: rgb(126, 201, 13);
    height: 50px;
}

*{
    margin: 0%;
}

ul.hori{
    list-style-type: none;
    margin: 0%;
    padding-top: 10px;
    /* overflow: hidden; */
}

/* li{
    float: left;
    padding-right: 15px;
    padding-left: 15px;

} */

.right{
    float: right;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 10px;
}

.host{
    height: 20px;
    width: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
    margin-top: -5px; 
    
    border-radius: 10px;
    background-color: rgb(200, 13, 76);
    color: white;
}

body{
    /* background-image: url("/images/freedom.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 40px;
    column-gap: 10px;
    margin-right: 20px;
    margin-left: 20px;
   
}

.main-container{
    height: 500px; 
    background-color: white;
    /* margin-top: 40px; */
    /* padding-top: 20px; */
    /* padding-bottom: 40px; */
}

/* ul.body-list{
    list-style-type: none;
    display: block; 
} */

/* li.lily{
    /* text-align: center; */
    /* display: inline-block; */
    /* padding: 20px; */


.choose-button{
    margin-top: 120px;
    margin-bottom: 0px;
}



.free{
    text-align: center;
    background-color: rgb(171, 226, 208);
}

.plus{
    background-color: rgb(126, 201, 13);
    
}

.premium{
    background-color: rgb(171, 226, 208);
}

h2{
    text-align: center;
    color: rgb(126, 201, 13);
    padding-bottom: 20px;
}

.pink-container{
    display: grid;
    background-color: rgb(200, 13, 76);
    width: 100%;
    height: 50%;
    margin-top: 60px;
    /* padding-bottom: 30px; */
    padding-top: 30px;
}

.pink-circles{
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 30px 60px 20px 40px; */
    padding-bottom: 40px;
    
   
}

.circle{
        width: 130px;
        height: 130px;
        background: rgb(225, 174, 191);
        border-radius: 50%;  
        border: 1px solid black;
        margin-right: 40px;
        margin-left: 190px;
        
}

/* .p1{
    display: inline-block;
    padding-bottom: 30px;
} */

/* .pink-p{
    padding-top: 80px;
} */

footer{
    /* background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 25px; */
}